<h1>Welcome to home.html</h1>
<ul>
    <li>
        <a href="{% url "classroom:thank_you" %}" >
        Thank you Page link
        </a>
    </li>

     <li>
        <a href="{% url "classroom:contact" %}" >
        Contact Form Page link
        </a>
    </li>
      <li>
        <a href="{% url "classroom:create_teacher" %}" >
        Teacher Form Page link
        </a>
    </li>
    <li>
        <a href="{% url "classroom:list_teacher" %}" >
       List Teacher Form Page link
        </a>
    </li>
</li>